.root {
    -fx-background-image: url('images/scene.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.menu-bar {
    -fx-background-color: darkslategray;
    -fx-opacity: 0.6;
}

#promotion-background {
    -fx-background-color: white;
    -fx-opacity: 1.0;
}

.check-menu-item:checked {
    -fx-mark-color: rgb(207, 178, 125);
}

.menu-bar .context-menu {
    -fx-background-color: darkslategray;
    -fx-opacity: 0.9; 
}

.menu-bar .label {
    -fx-text-fill: white;
}

.pagination {
    -fx-base: #f7f7f7;
    -fx-page-information-visible: no;
}

.pagination > .pagination-control {
    -fx-font-size: 16px;
    -fx-font-family: 'verdana';
}

.pagination .toggle-button {
    -fx-text-fill: #838383;
}

.pagination > .pagination-control .left-arrow {
    -fx-background-color: #838383;
}

.pagination > .pagination-control .right-arrow {
    -fx-background-color: #838383;
}

.pagination .toggle-button:selected {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tile-not-selected {
    -fx-opacity: 0;
    -fx-border-width: 0;
}

.source-tile-white { 
    -fx-background-color: rgba(135,206,250,0.6);
}

.source-tile-black {
    -fx-background-color: rgba(135,206,250,0.6);
}

.destination-tile-white {
    -fx-border-width: 4;
    -fx-padding: -4;
    -fx-border-color: rgba(135,206,250,0.85);
}

.destination-tile-black {
    -fx-border-width: 4;
    -fx-padding: -4;
    -fx-border-color: rgba(135,206,250,0.85);
}

.move-destination-tile-white {
    -fx-background-color: rgba(135,206,250,0.8);
}

.move-destination-tile-black {
    -fx-background-color: rgba(135,206,250,0.8);
}

.board-background {
    -fx-background-image: url('images/boardbackground.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.options-buttons {
    -fx-min-width: 38;
    -fx-max-width: 38;
    -fx-min-height: 38;
    -fx-max-height: 38;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80% 80%;
    -fx-background-position: center;
    -fx-background-radius: 0;
}

#make-move-button {
    -fx-background-image: url('images/buttons/makeMove.png');
}

#resign-button {
    -fx-background-image: url('images/buttons/resign.png');
}

#draw-button {
    -fx-background-image: url('images/buttons/draw.png');
}

#win-button {
    -fx-background-image: url('images/buttons/win.png');
}

#cheat-button {
    -fx-background-image: url('images/buttons/cheat.png');
}

#play-fair-button {
    -fx-background-image: url('images/buttons/playFair.png');
}

#take-back-button {
    -fx-background-image: url('images/buttons/takeBack.png');
}

#reset-button {
    -fx-background-image: url('images/buttons/reset.png');
}

#flip-button {
    -fx-background-image: url('images/buttons/flip.png');
}

#prev-prev-button {
    -fx-background-image: url('images/buttons/prev-prev.png');
}

#prev-button {
    -fx-background-image: url('images/buttons/prev.png');
}

#next-button {
    -fx-background-image: url('images/buttons/next.png');
}

#next-next-button {
    -fx-background-image: url('images/buttons/next-next.png');
}

.options-buttons:hover {
    -fx-background-color: linear-gradient(#add8e6, #94A7AB);
}

.options-buttons:pressed {
    -fx-background-color: linear-gradient(#94A7AB, #add8e6);
    -fx-background-position: 4 2; 
}

.replay-button {
    -fx-min-width: 24;
    -fx-max-width: 24;
    -fx-min-height: 24;
    -fx-max-height: 24;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60% 60%;
    -fx-background-position: center;
    -fx-background-radius: 0;
}

.replay-button:hover {
    -fx-background-color: linear-gradient(#add8e6, #94A7AB);
}

.replay-button:pressed {
    -fx-background-color: linear-gradient(#94A7AB, #add8e6);
    -fx-background-position: 6 4; 
}

#footer {
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #dedede;
    -fx-background-color: #ededed;
    -fx-padding: 8 8 8 8;
}

#current-game-status-text {
    -fx-font-family: 'Verdana';
    -fx-font-size: 13;
    -fx-fill: #696969;
    -fx-alignment: CENTER_LEFT;
}

#match-status-text {
    -fx-font-family: 'Verdana';
    -fx-font-size: 13;
    -fx-fill: #696969;
    -fx-alignment: CENTER_RIGHT;
}

.promotion-tile {
    -fx-opacity: 1.0;
    -fx-padding: -4;
    -fx-border-width: 4px;
    -fx-border-color: transparent;
}

.promotion-tile:hover {
    -fx-border-color: linear-gradient(#add8e6, #94A7AB);
}

.promotion-tile:pressed {
    -fx-border-color: linear-gradient(#94A7AB, #add8e6);
}

.games-viewer {
    -fx-padding: 20 20 20 20;
}

#move-text {
    -fx-font-size: 15;
    -fx-font-family: 'Verdana';
    -fx-font-weight: bold;
    -fx-fill: #696969;
}

.check-box > .box {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
    -fx-padding: 0.3em;
}

.check-box:selected  > .box > .mark {
    -fx-background-color: rgb(207, 178, 125);
    -fx-shape: "M0,5H2L4,8L8,0H10L5,10H3Z";
    -fx-padding: 0.3em;
}

#engines-menu-item {
    -fx-padding: 0 0 0.477em 1.5em;
}